/* Flexbox Challenge */
    .container1 {
        display: flex;
        /* flex-direction: column; */
        justify-content: space-between;
        border: 2px solid black;
        margin: 5px;
    }
    .container2 {
        display: flex;
        width: 30%;
        /* flex-direction: column; */
        justify-content: space-evenly;
        border: 2px solid red;
        margin: 5px;
    }
    .outc2 {
        display: flex;
        justify-content: center;
    }
    .container3 {
        display: flex;
        justify-content: center;
        /* flex-direction: column; */
        border: 2px solid red;
        align-items: center;
        margin: 5px;
    }
    .inside23 {
        display: flex;
        justify-content: space-between;
        border: 2px solid red;
        margin: 5px;
    }
    .inside45 {
        display: flex;
        flex-direction: column;
        border: 2px solid red;
        margin: 5px;
    }
    .inside67 {
        display: flex;
        flex-direction: column;
        border: 2px solid red;
        margin: 5px;
    }
    .inside910 {
        display: flex;
        flex-direction: column;
        border: 2px solid red;
        margin: 5px;
    }
    .box1 {
        width:50px;
        height: 75px;
        text-align: center;
        font-size: 50px;
        margin: 5px;
        background-color: lightcoral;
    }
    .box2 {
        width:50px;
        height: 75px;
        text-align: center;
        font-size: 50px;
        margin: 5px;
        background-color: brown;
    }
    .box3 {
        width:50px;
        height: 75px;
        text-align: center;
        font-size: 50px;
        margin: 5px;
        background-color: lime;
    }
    .box4 {
        width:50px;
        height: 75px;
        text-align: center;
        font-size: 50px;
        margin: 5px;
        background-color: forestgreen;
    }
    .box5 {
        width:50px;
        height: 75px;
        text-align: center;
        font-size: 50px;
        margin: 5px;
        background-color: purple;
    }
    .box6 {
        width:50px;
        height: 75px;
        text-align: center;
        font-size: 50px;
        margin: 5px;
        background-color: red;
    }
    .box7 {
        width:50px;
        height: 75px;
        text-align: center;
        font-size: 50px;
        margin: 5px;
        background-color: lightgray;
    }
    .box8 {
        width:50px;
        height: 75px;
        text-align: center;
        font-size: 50px;
        margin: 5px;
        background-color: green;
    }
    .box9 {
        width:50px;
        height: 75px;
        text-align: center;
        font-size: 50px;
        margin: 5px;
        background-color: magenta;
    }
    .box10 {
        width:50px;
        height: 75px;
        text-align: center;
        font-size: 50px;
        margin: 5px;
        background-color: gray;
    }

/* Exercise 1 */
.flex-container {
    display: flex;
    background-color: skyblue;
    border: 2px solid black;
    justify-content: space-evenly;
    align-items: flex-end;
}
.line1 {
    width: 70px;
    height: 70px;
    text-align: center;
    color: white;
    font-size: 50px;
    margin: 5px;
    background-color: blue;
}
.line2 {
    width: 60px;
    height: 60px;
    text-align: center;
    color: white;
    font-size: 50px;
    margin: 5px;
    background-color: blue;
}
.line3 {
    width: 100px;
    height: 70px;
    text-align: center;
    color: white;
    font-size: 50px;
    margin: 5px;
    background-color: blue;
}
.line4 {
    width: 30px;
    height: 75px;
    text-align: center;
    color: white;
    font-size: 50px;
    margin: 5px;
    padding-bottom: 40px;
    background-color: blue;
}

/* Challenge 1 */
.head {
    height: 75px;
    background-color: chartreuse;
    padding: 15px;
}
.AAN {
    display: flex;
    flex-direction: row;
}
.article {
    width: 60%;
    height: 300px;
    padding: 15px;
}
.aside {
    width: 20%;
    height: 300px;
    background-color: beige;
    padding: 15px;
}
.nav {
    width: 20%;
    height: 300px;
    background-color: cadetblue;
    padding: 15px;
}
.foot {
    height: 75px;
    background-color: chartreuse;
    padding: 15px;
}

/* Challenge 2 */
.chal_two {
    display: flex;
    flex-direction: row;
}
.HAFA {
    width: 100%;
}
.AAF {
    display: flex;
    flex-direction: row;
}
.nav2 {
    width: 10%;
    padding: 15px;
    height: 510px;
    background-color: cadetblue;
}
.header {
    height: 75px;
    background-color: chartreuse;
    padding: 15px;
}
.AF {
    width: 80%
}
.article2 {
    height: 300px;
    padding: 15px;
}
.footer {
    height: 75px;
    background-color: chartreuse;
    padding: 15px;
}
.aside2 {
    background-color: beige;
    width: 20%;
    padding: 15px;
}