/* CSS HEX
--chamoisee: #a7754dff;
--celadon: #b6cb9eff;
--cambridge-blue: #92b4a7ff;
--charcoal: #474954ff;
--tangerine: #f28f3bff; */
* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
}

.head-left {
    width: max-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin: 0 0 0 2rem;
}

.head-right {
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: 1.2rem;
    margin: 0 auto;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #b6cb9eff;
    margin: 0;
}

.link {
    width: fit-content;
}

.hamburger {
    display: none;
    background-color: #b6cb9eff;
    border: none;
    font-size: 1.5rem;
    color: #474954ff;
    position: relative;
    right: 0;
}

.hamburger:hover {
    cursor: pointer;
}

#closeIcon {
    display: none;
    color: #f28f3bff;
}

a:hover {
    color: #f28f3bff;
}

.link {
    padding: .2rem;
    border: .25rem solid transparent;
}

.link:hover {
    box-shadow: .25rem .25rem #474954ff;
}

@media screen and (max-width: 1020px) {
    .hamburger {
        display: block;
        margin-right: 10%;
    }
    .head-right {
        position: absolute;
        top: 5.2em;
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 1em;
        font-size: 1.2rem;
        background: #fff;
        color: #333;
        list-style: none;
        display: none;
      }
    .displayMenu {
        display: block;
    }
    .link {
        margin: 0 auto;
        text-align: center;
        width: 100%;
    }
    .head-right a:hover {
        color: #92b4a7ff;
    }
}

.logo {
    width: 100px;
}

.phagocytosis {
    width: 100%;
}

.title {
    font-weight: bold;
}

a {
    color: #474954ff;
    text-decoration: none;
}

main {
    margin-top: 12em;
}

section {
    margin: 10vh auto;
}

.cards4 {
    font-family: "Poppins";
}

.spiel {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rel {
    font-size: 2rem;
    font-weight: 200;
}

.pow {
    font-size: 2rem;
    font-weight: 600;
    color: #4c4e61;
}

.blurb {
    width: 30%;
    text-align: center;
    margin-top: 1em;
    color: #a3a5ae;
}

.cards {
    width: 90%;
    margin: 0 auto;
    margin-top: 4em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
}

.card4 {
    width: 18rem;
    height: 12rem;
    border-radius: 10px;
    margin-bottom: 1.5rem;
    box-shadow: 0 10px 20px #cccccc;
}

.card-title {
    position: relative;
    top: 1rem;
    left: 1.5rem;
    font-weight: 700;
    color: #4c4e61;
}

.descript {
    position: relative;
    width: 80%;
    top: 1.5rem;
    left: 1.5rem;
    font-size: 0.8rem;
    color: #a3a5ae;
}

.card-icon {
    width: 20%;
    position: relative;
    top: 3.5rem;
    left: 12.5rem;
}

.color-line {
    width: 100%;
    height: 2%;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

#cyan {
    background-color: #45d3d3;
}
#red {
    background-color: #ea5353;
}
#orange {
    background-color: #fcaf4a;
}
#blue {
    background-color: #549ef2;
}

@media screen and (max-width: 450px) {
    .cards {
        display: flex;
        flex-direction: column;
    }
    .card4 {
        width: 90vw;
        max-width: 16rem;
        height: 25vh;
        max-height: 11rem;
        margin-bottom: 0;
    }
    .buildkar {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
    }
    .blurb {
        width: 70%;
    }
    .card-title {
        position: relative;
        left: 1rem;
    }
    .descript {
        position: relative;
        left: 1rem;
    }
    .card-icon {
        position: relative;
        top: 3rem;
        left: 11.5rem;
    }
}

@media screen and (max-width: 900px) {
    .cards {
        display: flex;
        flex-direction: column;
    }
}

.FAQ-card {
    display: flex;
    flex-direction: column;
    width: 40vw;
    height: 80vh;
    margin: 0 auto;
    margin-top: 1em;
    background-color: #F9EEFF;
}

.FAQback {
    height: 25%;
    width: 100%;
}

.card {
    display: flex;
    flex-direction: column;
    width: 87.5%;
    height: 75%;
    background-color: white;
    border-radius: 10px;
    position: relative;
    top: -8vh;
    left: 2.5vw;
}

@media screen and (max-width: 450px) {
    .FAQ-card {
        width: 80vw;
        height: 120vh;
    }
    .card {
        top: -20vh;
        left: 5vw;
    }
}

.star {
    width: 8%;
    height: auto;
    display: inline;
    margin: .5rem 1rem;
}

.FAQ-title {
    display: flex;
    flex-direction: row;
    position: relative;
    top: 1vh;
    left: 1vw;
    font-size: 1.2rem;
}

.question {
    display: flex;
    flex-direction: row;
    gap: 1em;
    align-items: center;
    justify-content: space-between;
    font-weight: bold;
}

.QnA {
    margin-top: 2em;
    margin-left: 1em;
}

.answer {
    display: none;
    margin-top: 1em;
    color:rgb(126, 126, 126);
}

.plus {
    display: inline;
    height: 2.5rem;
}

.plus:hover {
    cursor: pointer;
}

.minus {
    display: none;
    height: 2.5rem;
}

.minus:hover {
    cursor: pointer;
}

:root {
    --primary-red: hsl(0, 100%, 74%);
    --primary-green: hsl(154, 59%, 51%);
    --primary-blue: hsl(248, 32%, 49%);
    --primary-darkblue: hsl(249, 10%, 26%);
    --primary-grayishblue: hsl(246, 25%, 77%);
}

.form-area {
    background-color: var(--primary-red);
    background-image: url(img/backgroundform.png);
    padding: 10%;
    display: flex;
    flex-direction: row;
    font-family: Poppins;
    align-items: center;
    justify-content: space-around;
}

.form-descript {
    width: 45%;
    color: white;
}

.learn {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 1rem;
    line-height: 1;
}

.form-blurb {
    font-size: 0.8rem;
}

.form-column {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.try {
    background-color: var(--primary-blue);
    padding: 3% 10%;
    color: white;
    border-radius: 10px;
    margin-bottom: 5%;
    font-size: 0.8rem;
    text-align: center;
    box-shadow: 0 5px 0 rgba(0, 0, 0, 0.2);
}

.bold {
    font-weight: 700;
}

.form {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 10% 10%;
    border-radius: 10px;
    gap: 1rem;
    box-shadow: 0 5px 0 rgba(0, 0, 0, 0.2);
}

input[class="form-line"] {
    padding: 3%;
    font-weight: 700;
}

.claim {
    background-color: var(--primary-green);
    color: white;
    border: none;
    font-weight: 700;
    padding: 3%;
    border-radius: 5px;
}

.claim:hover {
    cursor: pointer;
}

.disclaim {
    color: var(--primary-grayishblue);
    font-size: 0.6rem;
    text-align: center;
}

.red {
    color: var(--primary-red);
    font-weight: 700;
}

.red:hover {
    cursor: pointer;
}

@media screen and (max-width: 500px) {
    .form-area {
        display: flex;
        flex-direction: column;
        gap: 3rem;
    }
    .form-descript {
        width: 90%;
        text-align: center;
    }
    .form-column {
        width: 90%;
    }
}

hr {
    height: .2rem;
    background-color: black;
    padding: 0;
    margin: 0;
}

footer {
    position: bottom;
    bottom: 0;
    width: 100%;
}

.footer {
    padding: 10px;
    font-size: larger;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #b6cb9eff;
    justify-content: flex-end;
    color: #474954ff;
}

.footer ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    list-style-type: none;
}

.icons {
    font-size: x-large;
}