* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

a {
    text-decoration: none;
}

.hero-section {
    padding-top: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(../img/monogram_img/console-background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    color: #ff8b68;
    border: 1px solid black;
}

header {    
    width: 90%;
    max-width: 1400px;
    position: fixed;
    margin: 0 auto;
    padding: .5em;  
    top: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1a2456;
    color: #ff8b68;
}

.header-left {
    width: 15%;
    font-size: 1rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header-left p {
    font-size: clamp(.5rem, 1.5vw, 1.5rem);
    font-weight: bold;
}

.header-left i {
    font-size: clamp(1rem, 3vw, 5rem);
}

nav {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: clamp(.25rem, 1.25vw, 1.25rem)
}

nav a {
    color: #ff8b68;
}

.hero {
    width: 90%;
    max-width: 1400px;
    margin: 15em auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero p {
    margin-top: 1em;
    font-size: clamp(.5rem, 1.5vw, 1.5rem)
}

.hero h1 {
    font-size: clamp(1.5rem, 3vw, 4rem)
}

.products {
    max-width: 1400px;
    margin: 0 auto;
    padding: 1em 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
    color: #1a2456;
    background-color: #f0efed;
}

.product img {
    width: 500px;
}

.item {
    margin: 0.25em 0;
    display: flex;
    justify-content: space-between;
}

.item-name {
    font-weight: bold;
}

.item-description {
    margin: 0.25em;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #1a2456;
    color: #ff8b68;
}

footer a {
    color: #ff8b68;
}

footer h5 {
    padding: 1em 0;
}

.footer-col {
    margin: 1em 5vh;
    display: flex;
    flex-direction: column;
}
