* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    }
    
.box {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin: 1rem 0;
    }
    
.box1 {
    background-color: red;
    transition: width 2s ease-in-out;
    margin-bottom: 2em;
    }

.box1:hover {
    width: 300px;
}
    
.box2 {
    background-color: red;
    transition: width 1s ease-in-out;
    }

.box2:hover {
    width: 300px;
}

.box2:hover + .box3 {
    width: 300px;
}
    
.box3 {
    background-color: blue;
    transition: width 1s ease-in-out 1s;
    margin-bottom: 2em;
    }
    
.box4 {
    background-color: red;
    transition: all 1s ease-in-out, background-color 0s, font-size 0s;
    }

.box5 {
    background-color: blue;
    transition: all 1s ease-in-out, background-color 0s, font-size 0s;
}

.box6 {
    background-color: yellow;
    transition: all 1s ease-in-out, background-color 0s, font-size 0s;
}

.box7 {
    background-color: green;
    transition: all 1s ease-in-out, background-color 0s, font-size 0s;
}

.ex4 .box {
    margin: 0;
}

.ex4 {
    width: 200px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.ex4:hover .box4 {
    transform: translateX(-100px) rotateZ(90deg);
}

.ex4:hover .box5 {
    transform: translateX(-100px) rotateZ(-90deg);
}

.ex4:hover .box6 {
    transform: translateX(100px) rotateZ(-90deg);
}

.ex4:hover .box7 {
    transform: translateX(100px) rotateZ(90deg);
}

.hi {
    font-size: 20px;
    position: relative;
    top: 90px;
    left: 110px;
    z-index: -1;
}